:root {
    --white: #f7eceb;
    --peach: #ffe5d9;
    --lightpink: #ffcad4;
    --pink: #f4acb7;
    --darkpink: #9d8189;
    --black: #333; 
}

* {
    font-family: "Karla", sans-serif;
}

.header {
    width: 100%;
    display: block;
    padding: 1vw;
    margin: 0;
    background-color: var(--darkpink);
    color: var(--black);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    height: 80px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin-right: 10px;
}

#nav {
    float: left;
    margin-right: 20px;
}

li {
    display: list-item;
    text-align: center;
    unicode-bidi: isolate;
}

button {
    margin-top: 10px;
    background-color: var(--peach);
    transition: all 0.2s;
    border-radius: 10px;
    border: var(--peach);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 112%;
}

button:hover {
    background-color: var(--white);
}

.name {
    font-family: "Karla", sans-serif;
    font-size: 30px;
    position: relative;
    top: 10px;
    text-align: center;
    padding: 20px;
}

.info {
    background-color: var(--peach);
    border-radius: 10px;
    box-shadow: 10px 10px var(--darkpink);
    position: relative;
    left: 150px;
    top: 130px;
    width: 80%;
    padding-bottom: 30px;
}

.intro {
    font-size: 28px;
    position: relative;
    text-align: center;
    padding: 20px;
    color: var(--darkpink);
}

a {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--pink);
}

.about {
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    flex: 1;
    font-family: "Karla", sans-serif;
    color: var(--black);
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 20px;
}

.about-text a {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.about-text a:hover {
    color: var(--pink);
}

.about-image {
    flex-shrink: 0;
    margin-left: 30px;
}

.about-image img {
    width: 250px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--darkpink);
}

.social-icons {
    margin-right: 20px;
}

.break1 {
    margin-top: 200px;
}

.projects {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-top: 50px;
    background-color: var(--peach);
    border-radius: 10px;
    box-shadow: 10px 10px var(--darkpink);
    position: relative;
    left: 150px;
    width: 80%;
}

.projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4e4e4e;
}

.project-item {
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.project-item h3 {
    font-size: 1.8em;
    color: black;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 1.2em;
    color: black;
}

.project-item a {
    color: #e87d7d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.project-item a:hover {
    color: #d35d5d;
}

.project-item:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .project-item {
        width: 90%;
    }

    .projects h2 {
        font-size: 2em;
    }

    .project-item h3 {
        font-size: 1.6em;
    }

    .project-item p {
        font-size: 1.1em;
    }
}

.project-heading {
    font-family: "Karla", sans-serif;
    font-size: 50px;
    text-align: center;
}

hr {
    border: none; 
    height: 3px; 
    background-color: var(--darkpink); 
    margin: 20px 0; 
    border-radius: 25px;
}

.personal-website-image {
    width: 425px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--darkpink);
    
}

.name p {
    font-size: 20px;
    position: relative;
    text-align: center;
    padding: 20px;
    color: var(--darkpink);
    font-weight: bold;
}